<footer >
   <div class="navbar footer">
      <div class=" m-l-107">
        <ul class="nav p-t-20" >
          <li class="nav-item m-r-60">
          <div class="titleFooter">Made by</div>
          <br>
          <div class="textFooter">Nativo</div>
          </li>
          <li class="nav-item m-r-60 ">
          <div class="titleFooter">Contact</div>
          <br>
          <div class="textFooter">hello@nativo.design</div>
          </li>
        </ul>
      </div>
      <div class="LogoNativo  m-r-107"></div>
   </div>
   
   <div class="card-vacio"></div>
  </footer>