@import '../../../variables';
.navbar.footer {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.card-vacio {
    height: 55px;
    border-top: 1px solid $negro;
}

.LogoNativo {
    background-image: url("../../../assets/iconos/LogoNativoFooter.svg");
    width: 44px;
    height: 35px;
    margin-top: 10px;
}
footer{
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: $blanco2;
}

.nav {
    border-top: 1px solid $negro;
}
