@import '../../../variables';
.sectionTypography {
    background-color: #d4d4d4;
    overflow: hidden;
    padding-top: 102px;
    position: relative;
}

.section1Typography {
    background: $blanco2;
}

.section1TypographyDiv {
    min-height: 730px;
    height: auto;
}

.section1Typography .tp1 {
    font-style: normal;
    font-weight: normal;
    font-family: 'termina', sans-serif;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 125px;
}

.section1Typography .tp1 p {
    outline: none;
}

.section1Typography .tp2 {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.colorRed {
    background-color: $red;
}

.custom-range {
    border: none !important;
}

.custom-range:focus {
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -9px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #000000;
    height: 1px;
}

.section2Typographydiv {
    max-height: 509px;
    height: 509px;
    background-color: #d4d4d4;
}


.Sectio2Tp2 {
    background-color: $red;
    height: 100%;
    margin-left: -15px;
    position: relative;
}

.texCentersection2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

.texCentersection4 {
    margin-left: 315px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

.textoimgTypo {
    background-image: url("../../../assets/imgTypography/TheArtOfWork.svg");
    width: 500px;
    height: 150px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.section3Typography {

    margin-bottom: 97px;
}
.section3Typographydiv{
    max-height: 521px;
    height: 521px;
}

.section4Typography {
    max-height: 435px;
    height: 435px;
    background-color: $blanco2;
}

.section5Typography {
    max-height: 1005px;
    height: 1005px;
    background-color: #E5E5E5;
}

.Sectio3Tp2 {
    background-color: $gris;
    height: 100%;
    margin-left: -15px;
    position: relative;
}

.textoimgTypoNum {
    background-image: url("../../../assets/imgTypography/Termina_Numbers.svg");
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.imgABC {
    background-image: url("../../../assets/imgTypography/Brom_Alphabet.svg");
    height: 100%;
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 50px;
}

.imgABCContainer {
    background-color: $red;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.imgABCContainerGris {
    background-color: #E5E5E5;
}

.tipoStairs {
    background-image: url("../../../assets/imgTypography/Brom_Glyps.svg");
    height: 207px;
    background-repeat: no-repeat;
    max-width: 722px;
    margin: 0 auto;
    margin-top: 40px;
}

.tipoStairs2 {
    background-image: url("../../../assets/imgTypography/Brom_Signage_Type.svg");
    height: 500px;
    background-repeat: no-repeat;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 45px;
}

.Btnfooter {
    height: 40px;
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.Sectio2Tp1 {
    height: 100%;
    position: relative;
}

.Sectio3Tp1 {
    background-color: #EBEBEC;
    margin-right: -15px;
    height: 100%;
    position: relative;
}

.iconSelect1 {
    padding-right: 15px;
    line-height: 20px;
}

.iconSelect2 {
    padding-right: 15px;
    margin-top: -5px;
    margin-left: 10px;
}

#inlineFormCustomSelect1,
#inlineFormCustomSelect2 {
    background-image: url("../../../assets/iconos/arrowselect.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-y: center;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    background-color: #EBEBEB;
}

#inlineFormCustomSelect1 select::-ms-expand,
#inlineFormCustomSelect2 select::-ms-expand {
    display: none;
}

.colorBlack {
    color: $negro;
}

.textDownload::before {
    transform: rotate(270deg);
    height: 15px;
    width: 15px;
    margin-left: 8px;
    margin-top: -4px;
}

.textDownload.dowImage::before {
    transform: rotate(0deg);

}

.LineParpadea {
    height: 50px;
    background: white;
    width: 1px;
    position: absolute;
    margin-left: -5px;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.tableColor {
    font-family: "termina";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    color: #3E464D;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: calc(100% - 80px);
}

.tableColor td {
    padding: 5px;
    cursor: pointer;
}

.fontw1 {
    font-weight: 100;
    transition: font-weight .3s ease-in-out;
    &:hover {
        font-weight: 800;
    }
}

.fontw2 {
    font-weight: 200;
    transition: font-weight .3s ease-in-out;
    &:hover {
        font-weight: 700;
    }
}

.fontw3 {
    font-weight: 300;
    transition: font-weight .3s ease-in-out;
    &:hover {
        font-weight: 600;
    }
}

.fontw4 {
    font-weight: 400;
    transition: font-weight .3s ease-in-out;
    &:hover {
        font-weight: 500;
    }
}

.fontw5 {
    font-weight: 500;
    transition: font-weight .3s ease-in-out;
    &:hover {
        font-weight: 400;
    }
}

.fontw6 {
    font-weight: 600;
    transition: font-weight .3s ease-in-out;
    &:hover {
        font-weight: 300;
    }
}

.fontw7 {
    font-weight: 700;
    transition: font-weight .3s ease-in-out;
    &:hover {
        font-weight: 200;
    }
}

.fontw8 {
    font-weight: 800;
    transition: font-weight .3s ease-in-out;
    &:hover {
        font-weight: 100;
    }
}

.rojito {
    font-weight: 100;
}
.Text_Size_Icon{
    background-image: url("../../../assets/iconos/Text_Size_Icon.svg");
    width: 17px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6px;

}
.Leading_Icon{
    background-image: url("../../../assets/iconos/Leading_Icon.svg");
    width: 17px;
    height: 29px;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}