@import "variables";
//Fuente principal 
@font-face {
    font-family: $IBM;
    src: url('./assets/fonts/IBMPlexSans-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Brom Sans';
    src: url("./assets/fonts/BromSans/Brom2020-Reg.otf");
   
}

//Reseteo de estilos 
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    background-color:white;

}
a{
    text-decoration: none !important;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//Titulos de la pagina
.title {
    font-family: $IBM;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

//Texto de los parrafos
.text {
    font-family: $IBM;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

//Titulos Footer
.titleFooter {
    font-family: $IBM;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
}

//Texto Footer
.textFooter {
    font-family: $IBM;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}


.SubTitle{
    font-family:$IBM;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}


    //texto para enlaces de descarga
    .textDownload {
        font-family: $IBM;
        font-size: 20px;
        line-height: 120%;
        font-weight: 500;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            background: url('./assets/iconos/arrowDown.svg') center no-repeat;
            background-size: contain;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }


//Botones negros
.btnBlack {
    background: $negro;
    color: $blanco2;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    font-family: $IBM;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 13px;
        background: url('./assets/iconos/arrow.svg') no-repeat center;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
    }
}

//Agregar clase si la flecha del botón apunta a la derecha

.btnRight {
    float: right;
    margin-right: 107px;
    padding-left: 21px;
    padding-right: 53px;
    &::before {
        right: 21px;
        transform: translateY(-50%) rotate(180deg);
    }
}

//Agregar clase si la flecha del botón apunta a la izquierda
.btnLeft {
    float: left;
    margin-left: 107px;
    padding-left: 53px;
    padding-right: 21px;
    &::before {
        left: 21px;
    }
}

//Circulos
@mixin circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circleGray {
    @include circle();
    background: $gris;
}

.circleWhite {
    @include circle();
    background: $blanco;
}

.circleRed {
    @include circle();
    background: $red;
}

//Palabras Optima
@mixin word {
    width: 320px;
    height: 55px;
    background-size: contain;
    background: center no-repeat;
}

.nameRed {
    @include word();
    background-image: url('./assets/iconos/nameRed.svg');
}

.nameGray {
    @include word();
    background-image: url('./assets/iconos/nameGray.svg');
}

.nameWhite {
    @include word();
    background-image: url('./assets/iconos/nameWhite.svg');
}

//Palabras Optima con nombre de torre
@mixin word2 {
    width: 277px;
    height: 72px;
}

.nameRed2 {
    @include word();
    @include word2();
    background-image: url('./assets/iconos/nameRed2.svg');
}

.nameGray2 {
    @include word();
    @include word2();
    background-image: url('./assets/iconos/nameGray2.svg');
}

.nameWhite2 {
    @include word();
    @include word2();
    background-image: url('./assets/iconos/nameWhite2.svg');
}

//Palabras de Optima logos
@mixin word3 {
    height: 35px;
}

.nameRed3 {
    @include word();
    @include word3();
    width: 350.83px;
    background-image: url('./assets/iconos/nameRed3.svg');
}

.nameGray3 {
    @include word();
    @include word3();
    width: 389.27px;
    background-image: url('./assets/iconos/nameGray3.svg');
}

.nameWhite3 {
    @include word();
    @include word3();
    width: 406.34px;
    background-image: url('./assets/iconos/nameWhite3.svg');
}

//Letras de Optima logo
@mixin logo() {
    width: 150px;
    height: 150px;
    background-size: contain;
    background: no-repeat center;
}

.logoGray {
    @include logo();
    background-image: url('./assets/iconos/logoGray.svg');
}

.logoWhite {
    @include logo();
    background-image: url('./assets/iconos/logoWhite.svg');
}

.logoRed {
    @include logo();
    width: 180px;
    height: 180px;
    background-image: url('./assets/iconos/logoRed.svg');
}

//Logo nombre completo y grande con grid
.logoBig {
    width: 1019px;
    height: 391px;
    background: url('./assets/iconos/logoBig.svg') no-repeat center;
    background-size: contain;
}

//Flechas para slide
.arrowSlide {
    width: 42px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    background: url('./assets/iconos/arrrowSlideWhite.svg') center no-repeat;
    background-size: contain;
    bottom: 30px;
    &.arrowBlack {
        background-image: url('./assets/iconos/arrowSlideBlack.svg');
    }
    &.arrowRight {
        right: 30px;
    }
    &.arrowLeft {
        left: 30px;
        transform: rotate(180deg);
    }
}

//Colores de fondo
.bgG {
    background: $gris;
}

.bgG2 {
    background: $grisClaro;
}

.bgW {
    background: $blanco;
}

.bgR {
    background: $red;
}

//Contenedor de textos
.cic {
    max-width: 394px;
    margin-left: auto;
    margin-right: auto;
}

// Extra large devices (large desktops, 1200px and up)
/*
@media (min-width: 1200px) { 
    body{
        background-color:red;
    }


 }*/